<section>
    <h1>Acerca de Nosotros</h1>
    <p>Somos una compañía dedicada al reclutamiento y registro de datos de los Superhéroes más fuertes, habilidosos, carismáticos y únicos del Universo.</p>
</section>